@use 'common';

.MainSlide {
    position: relative;
    padding: 10rem 0 0;


    .itm {
        position: relative;
        height: calc(100vh - 27rem);
        color: common.$wColor;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &.itm01 {
            background-image: url(../../public/assets/img/main02.jpg);
        }

        &.itm02 {
            background-image: url(../../public/assets/img/main03.jpg);
        }

        &.itm03 {
            background-image: url(../../public/assets/img/main04.jpg);
        }

        &.itm04 {
            background-image: url(../../public/assets/img/main05.jpg);
        }

        &.itm05 {
            background-image: url(../../public/assets/img/main06.jpg);
        }
    }


    .slick-dots {
        position: absolute;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

        li {
            display: inline-block;
            margin: 0 0.5rem;

            button {
                width: 13px;
                height: 13px;
                border-radius: 0px;
                margin-right: 0;
                background: common.$mainColor;
                font-size: 0;
                border: none;
                outline: none;
                cursor: pointer;
            }

            &.slick-active button {
                background: common.$wColor;
            }
        }
    }
}